// COLORS
$color: #32ef56;
$base-color: #333;
$base-background: #eee;
$yellow: #ffe600;
$light-gray: #999;
$gray: #666;
$blue: #3483fa;

// SIZES
$thumbnail-width: 180px;
$element-padding: 16px;
$text-padding: 32px;
$border-radius: 4px;

// TEXT SIZES
$primary-title: 24px;
$secondary-title: 18px;

$section-title: 28px;
$paragraph: 16px;

$small-text: 12px;
$regular-text: 14px;
$big-text: 46px;
