@import './variables';
@mixin default-font($size: $regular-text) {
  margin: 0;
  padding: 0;
  padding-bottom: $element-padding;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $size + 4px;
  color: $base-color;
}

@mixin primary-title($weight: 500) {
  @include default-font($primary-title);
  font-weight: $weight;
  padding-bottom: $text-padding;
  @media only screen and (max-width: 768px) {
    font-size: 1.1em;
    padding-bottom: 2px;
  }
}

@mixin secondary-title($weight: 500) {
  @include default-font($secondary-title);
  font-weight: $weight;
  padding-bottom: $text-padding;
  @media only screen and (max-width: 768px) {
    font-size: 0.8em;
    padding-bottom: 2px;
  }
}

@mixin section-title() {
  @include default-font($section-title);
  font-weight: 500;
  padding-bottom: $text-padding;
  @media only screen and (max-width: 768px) {
    font-size: 0.8em;
    padding-bottom: 2px;
  }
}

@mixin paragraph {
  @include default-font($paragraph);
  font-size: $paragraph;
  color: $light-gray;
}
