@import '../scss/variables';
@import '../scss/mixins.scss';

.breadcrumb {
  list-style: none;
  margin: 0px;
  padding: 0px;
  grid-column: col-start 2 / span 10;
  display: inline-flex;
  min-height: 50px;
  flex-wrap: wrap;
  padding: $element-padding 0;
  &__item {
    @include default-font();
    color: $light-gray;
    padding: 0;
    span {
      display: flex;
      white-space: nowrap;
      &::after {
        content: ' > ';
        padding: 0 5px;
      }
    }
    &:last-child {
      span::after {
        content: '';
      }
    }
  }
}
