@import '../scss/variables';

.nav-header {
  background-color: $yellow;
  &__logo {
    grid-column: col-start 2 / span 1;
    max-width: 44px;
    width: 44px;
    height: 32px;
    overflow: hidden;
    text-indent: -999px;
    display: inline-flex;
    &__image {
      width: 44px;
      height: auto;
    }
  }

  &__search {
    grid-column: col-start 3 / span 9;
    margin-left: -20px;
  }
}

.nav-bounds {
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-header {
    &__logo {
      grid-column: col-start 2 / span 1;
      max-width: 44px;
      width: 44px;
      height: 32px;
      &__image {
        width: 44px;
        height: auto;
      }
    }

    &__search {
      grid-column: col-start 3 / span 9;
      margin-left: 24px;
    }
  }
}
