@import '../scss/mixins.scss';

.search-item {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  padding: 20px 0;

  &__content {
    display: flex;
    flex-direction: row;
    padding-top: $element-padding;
    flex-wrap: wrap;
    flex: 1 auto;
    &__primary {
      min-width: 420px;
      width: 77%;
    }
    &__secondary {
      min-width: 120px;
      width: 23%;
    }
  }
  &__title {
    @include secondary-title();
    width: 400px;
  }

  &__price {
    @include primary-title();
    display: flex;
    align-items: center;
    &__symbol {
    }
    &__amount {
    }
  }

  &__state-address {
    @include default-font($small-text);
  }

  &__condition {
  }

  &__shipping {
    height: 20px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .search-item {
    &__content {
      width: 100%;
      &__primary {
        width: 100%;
        min-width: auto;
      }
      &__secondary {
        width: 100%;
        min-width: auto;
      }
    }
    &__title {
      width: 70%;
    }

    &__state-address {
      @include default-font($small-text);
      margin-top: 25px;
    }
  }
}
